{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
    <h1>Nouvelle tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a class="btn btn-warning my-3" href="{{ path('project_index') }}">Retour à l'accueil</a>
{% endblock %}
