{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1>Créé un nouveau projet</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('project_index') }}">Retour à l'accueil</a>
{% endblock %}
